################################################################################
# Docker Compose file for starting up the service for testing in GitHub workflow
# This template provides comparable infrastructure to the real environment.
#   - mongodb
#   - redis
#   - localstack (s3, sqs, sns)
#
# Both mongo and localstack have init scripts included for setting up resources
# on startup. These scripts are in docker/scripts.
#
# It also includes a selenium-chrome container for running the browser headless.
#
# The services being tested can either be started up here using the latest
# builds from dockerhub.
# In the example each service has a .env config file in docker/config/
# Services can reference each other by their container names.
# e.g. http://cdp-example-node-backend:3001/
#
################################################################################
services:

################################################################################
# Headless browser, used by the test suite to actually run the tests against the
# containers.
  selenium-chrome:
    image: selenium/standalone-chrome:123.0
    ports:
      - 4444:4444
    network_mode: host

################################################################################
  mongodb:
    image: mongo:6
    volumes:
      - ./docker/scripts/mongodb:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.hello().ok"]
      interval: 5s
      start_period: 5s
      retries: 3
################################################################################
  localstack:
    image: localstack/localstack:3.2.0
    environment:
      - LOCALSTACK_HOST=127.0.0.1
      - SERVICES=s3,sqs,sns,dynamodb
      - LS_LOG=WARN
    env_file:
      - ./docker/config/defaults.env
    volumes:
      - ./docker/scripts/localstack:/etc/localstack/init/ready.d
    healthcheck:
      test: ["CMD", "curl", "localhost:4566"]
      interval: 5s
      start_period: 5s
      retries: 3

################################################################################
  redis:
    image: redis:7
    restart: always
    healthcheck:
      test: [ "CMD", "redis-cli", "PING" ]
      interval: 5s
      start_period: 2s
      retries: 5

################################################################################
  bedrock-mock:
    image: defradigital/ai-defra-search-aws-bedrock-stub:${AI_DEFRA_SEARCH_AWS_BEDROCK_STUB:-latest}
    ports:
      - "8089:8080"
    command:
      - --global-response-templating
      - --verbose
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://bedrock-mock:8080/__admin/health" ]
      interval: 5s
      start_period: 5s
      retries: 3

################################################################################
#
# Add the services you want to test below.
#
################################################################################
  ai-defra-search-frontend:
    image: defradigital/ai-defra-search-frontend:${AI_DEFRA_SEARCH_FRONTEND:-latest}
    env_file:
      - ./docker/config/defaults.env
      - path: ./docker/config/.env.ai-defra-search-frontend
        required: false
    environment:
      - PORT=${PORT:-3000}
      - PROTOTYPE_PASSWORD=${PROTOTYPE_PASSWORD:-}
      - API_BASE_URL=${API_BASE_URL:-http://ai-defra-search-agent:8086}
      - AUTH_ENABLED=${AUTH_ENABLED:-false}
      - MS_ENTRA_CLIENT_ID=${MS_ENTRA_CLIENT_ID:-local-dev-client-id}
      - MS_ENTRA_CLIENT_SECRET=${MS_ENTRA_CLIENT_SECRET:-local-dev-tenant-secret}
      - MS_ENTRA_REDIRECT_HOST=${MS_ENTRA_REDIRECT_HOST:-http://localhost:3000}
      - MS_ENTRA_TENANT_ID=${MS_ENTRA_TENANT_ID:-local-dev-tenant-id}
    depends_on:
      ai-defra-search-agent:
        condition: service_started
      redis:
        condition: service_healthy
    ports:
      - 3000:3000
    healthcheck:
      test: ["CMD", "curl", "http://localhost:3000/health"]
      interval: 3s
      start_period: 2s
      retries: 3

################################################################################
  ai-defra-search-agent:
   image: defradigital/ai-defra-search-agent:${AI_DEFRA_SEARCH_BACKEND:-latest}
   env_file:
     - ./docker/config/defaults.env
     - path: ./docker/config/.env.ai-defra-search-agent
       required: false
   environment:
     - AWS_REGION=${AWS_REGION:-eu-west-2}
     - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION:-eu-west-2}
     - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-test}
     - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-test}
     - AWS_EMF_ENVIRONMENT=${AWS_EMF_ENVIRONMENT:-local}
     - AWS_EMF_AGENT_ENDPOINT=${AWS_EMF_AGENT_ENDPOINT:-tcp://127.0.01:25888}
     - AWS_EMF_LOG_GROUP_NAME=${AWS_EMF_LOG_GROUP_NAME:-log-group-name}
     - AWS_EMF_LOG_STREAM_NAME=${AWS_EMF_LOG_STREAM_NAME:-log-stream-name}
     - AWS_EMF_NAMESPACE=${AWS_EMF_NAMESPACE:-namespace}
     - AWS_EMF_SERVICE_NAME=${AWS_EMF_SERVICE_NAME:-service-name}
     - AWS_EMF_SERVICE_TYPE=${AWS_EMF_SERVICE_TYPE:-python-backend-service}
     - AWS_BEDROCK_DEFAULT_GENERATION_MODEL=${AWS_BEDROCK_DEFAULT_GENERATION_MODEL:-}
     - AWS_BEDROCK_MAX_OUTPUT_TOKENS=${AWS_BEDROCK_MAX_OUTPUT_TOKENS:-4096}
     - 'AWS_BEDROCK_AVAILABLE_GENERATION_MODELS=${AWS_BEDROCK_AVAILABLE_GENERATION_MODELS:-[{"modelId":"anthropic.claude-3-7-sonnet-20250219-v1:0","name":"Claude Sonnet 3.7","description":"A powerful conversational AI model suitable for a wide range of tasks.", "bedrockModelId": "anthropic.claude-3-7-sonnet-20250219-v1:0" }, { "modelId": "anthropic.claude-3-haiku-20240307-v1:0","name": "Claude 3 Haiku","description": "An advanced conversational AI model with enhanced understanding and generation capabilities.","bedrockModelId": "anthropic.claude-3-haiku-20240307-v1:0" } ]}'
     - KNOWLEDGE_BASE_URL=${KNOWLEDGE_BASE_URL:-"http://localhost:8085"}
     - KNOWLEDGE_GROUP_ID=${KNOWLEDGE_GROUP_ID:-"kg_34vf0wr3e06l"}
     - KNOWLEDGE_SIMILARITY_THRESHOLD=${KNOWLEDGE_SIMILARITY_THRESHOLD:-0.5}
     - LOCALSTACK_URL=${LOCALSTACK_URL:-http://localstack:4566}
     - CHAT_QUEUE_URL=${CHAT_QUEUE_URL:-http://sqs.eu-west-2.localstack:4566/000000000000/ai-defra-search-agent-invoke}
     - SQS_CHAT_QUEUE_URL=${SQS_CHAT_QUEUE_URL:-http://sqs.eu-west-2.localstack:4566/000000000000/ai-defra-search-agent-invoke}
     - HOST=${HOST:-0.0.0.0}
     - PORT=${PORT:-8086}
     - AWS_ENDPOINT_URL_BEDROCK_RUNTIME=${AWS_ENDPOINT_URL_BEDROCK_RUNTIME:-http://bedrock-mock:8080}
     - AWS_BEARER_TOKEN_BEDROCK=${AWS_BEARER_TOKEN_BEDROCK:-}
     - AWS_SQS_ENDPOINT_URL=${AWS_SQS_ENDPOINT_URL:-http://localstack:4566}
   ports:
    - 8086:8086
   depends_on:
     mongodb:
       condition: service_healthy
     bedrock-mock:
       condition: service_healthy
     localstack:
       condition: service_healthy
   healthcheck:
     test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:8086/health')"]
     interval: 3s
     start_period: 2s
     retries: 3
