name: Run Journey Tests on GitHub

permissions:
  id-token: write
  contents: read
  checks: write
  pull-requests: write

on:
  workflow_dispatch:
  workflow_call:
jobs:
  build:
    name: Run Journey Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Journey Tests
        uses: ./run-journey-tests
