name: Run Journey Tests on GitHub

permissions:
  id-token: write
  contents: read
  checks: write
  pull-requests: write

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to test'
        required: false
        default: 'main'
        type: string
  workflow_call:
    inputs:
      branch:
        description: 'Branch to test'
        required: false
        default: 'main'
        type: string
jobs:
  build:
    name: Run Journey Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch || 'main' }}

      - name: Run Journey Tests
        uses: ./run-journey-tests
        with:
          branch: ${{ inputs.branch || 'main' }}
